
#page_register-login * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    color: white;
}



#page_register-login #left {
    width: 50%;
    background-color: white;
}

#page_register-login #right {
    width: 50%;
    background-color: #afcdc4;
}


#page_register-login #container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#page_register-login .bars {
  border-radius: 3em;
  background-color: #555;
  margin-bottom: .25em;
}

#page_register-login .accordion{
  width: 400px;
  margin: 0 auto;
  margin-top: 5em;
}

#page_register-login #img {
    z-index: 1;
    background: url("../../src/assets/unsplash.jpg") no-repeat center center;
    background-size: cover;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#page_register-login #circle {
    z-index: 2;
    border-radius: 700px;
    width: 800px;
    height: 800px;
    margin: 2em;
    background-color: #afcdc4;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#page_register-login h3, p {
    margin: 0 2em;
}

#page_register-login h3 {
    margin-bottom: 1em;
    font-size: 2em
}

#page_register-login footer{
  
    display: flex;
    justify-content: center;
    
   
}

#page_register-login .arrow a {
    color: #afcdc4;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    margin: .25em;
}

#page_register-login .fa-chevron-left, .fa-chevron-right {
    color: #afcdc4;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#page_register-login body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#page_register-login h1 {
  color: #000;
  font-size: 22px;
  text-align: center;
  margin: 0 0 50px 0;
}

/*accordion*/
#page_register-login .addProjectTitle{
    text-align: center;
    background: url("../../src/assets/unsplash.jpg") no-repeat center center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    text-transform: uppercase;
    margin: 1em 0 1em 0;
}
#page_register-login .accordion--form__legend, .accordion--form__text, .accordion--form__next-btn, .accordion--form__prev-btn, .accordion--form__textarea, .accordion--form__submit{
    border-radius: 20px;
}

#page_register-login #fieldset-three{
    margin-top: .25em;
}

#page_register-login .container {
  margin: 0 auto;
  max-width: 1024px;
}

#page_register-login .accordion--form {
  background-color: #e5e5e5;
  padding: 5px;
  width: 700px;
  height: 700px;
  border-radius: 80%;
  margin: 0 auto;
}

#page_register-login .accordion--form__fieldset {
  border: 0;
  margin: 0 0 1px 0;
  padding: 0;
  width: 60%;
  margin: 0 auto;
}

#page_register-login .accordion--form__legend {
  background-color: #555;
  color: #fff;
  display: block;
  margin: .25em;
  padding: 5px 10px;
  width: 100%;
}

 /*#page_register-login .accordion--form__legend-active {
  background-color: #ccc;
  color: #555;
}
/*
#page_register-login .accordion--form__wrapper {
  height: 0;
  overflow: hidden;
}
#page_register-login .accordion--form__wrapper-active {
  height: auto;
  padding: 15px 0;
}

#page_register-login .accordion--form__row {
  clear: both;
  margin-bottom: 15px;
  width: 100%;
}

#page_register-login .accordion--form__label {
  display: inline-block;
  margin-bottom: 5px;
  background: url("../../src/assets/unsplash.jpg") no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  text-transform: uppercase;
 
}

#page_register-login .accordion--form__text {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  border-color: #afcdc4;
}

#page_register-login .accordion--form__textarea {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
}

#page_register-login .accordion--form__submit {
}

#page_register-login .accordion--form__invalid {
  background-color: red;
  color: #fff;
  display: none;
  margin: 20px 0;
  padding: 5px 10px;
  width: 100%;
}

#page_register-login .accordion--form__next-btn, 
.accordion--form__prev-btn {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 5px 10px;
  text-align: center;
}

#page_register-login .accordion--form__next-btn:hover, 
.accordion--form__prev-btn:hover {
  background-color: #000;
} */